* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}
.logo {

}

.nav-container {
  display: flex;
  justify-content: end;
  gap: 40px;
}
.nav-elements {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  opacity: 50%;
}
.name {
  font-size: 48px;
}
.description {
  font-size: 21px;
  font-weight: lighter;
}
.element {
  position: fixed;
  margin-top: 160px;
}
