* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

.content {
    width: 100%;
    display: flex;
}
.trafalgar {
    font-weight: bold;
    font-size: 24px;
    margin-left: 12px;
    margin-top: 62px;
}
.home {
    font-weight: bold;
    font-size: 18px;
}
.normal {
    font-size: 18px;
    opacity: 50%;
}
.ellipse {
    position: absolute;
    margin-top: 56px;
}
.good-t {
    position: relative;
    margin-top: 68px;
    margin-left: 13px;
    margin-right: 11px;
}
.element {
    position: fixed;
    margin-top: 160px;
} 
.line {
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-top: 70px ;
}
header {
    display: flex;
    justify-content: space-around;
}
.name {
    font-size: 48px;
}
.description {
    font-size: 21px;
    font-weight: lighter;
}