$xxl: 2000px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 480px;

$padding-header: 56px;
$padding-big: 24px;
$padding-medium: 14px;
$padding-small: 8px;

$margin-home: 56px 12%;

$black: #000000;
$violet: #1f1534;
$blue: #458ff6;
$grey: #7d7987;
$white: #ffffff;

$font-size-48: 48px;
$font-size-36: 36px;
$font-size-24: 24px;
$font-size-22: 22px;
$font-size-21: 21px;
$font-size-20: 20px;
$font-size-19: 19px;
$font-size-18: 18px;
$font-size-17: 17px;
$font-size-16: 16px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: $margin-home;
}
.element {
  position: fixed;
  margin-top: 80px;
}
.nav-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-elements {
  list-style: none;
  text-decoration: none;
  margin: 0;
  font-size: $font-size-18;
  opacity: 50%;
  color: $violet;
  padding: $padding-medium $padding-medium 0 $padding-medium;
  &:hover {
    opacity: 100%;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: $violet;
  }
}

.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  .home-left {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-width: 445px;
    max-height: 338px;
    .name {
      font-size: $font-size-48;
      line-height: 56px;
    }
    .description {
      font-size: $font-size-21;
      font-weight: lighter;
      color: $grey;
      line-height: 32px;
      margin-top: 25px;
      margin-bottom: 45px;
    }
    .home-button {
      background-color: $blue;
      color: $white;
      width: 200px;
      border-radius: 55px;
      font-size: $font-size-18;
      font-weight: bold;
      border: none;
      line-height: 60px;
      cursor: pointer;
    }
    .home-button:hover {
      background-color: $white;
      color: $blue;
      border: 2px solid $blue;
    }
  }
  .home-image {
    max-width: 693px;
  }
}

.services-body {
  background-image: url("./assets/big_element.svg"),
    url("./assets/element-services.svg");
  background-position: -145px 30px, 95% 51%;
  background-repeat: no-repeat;
  width: 100%;
}
.back {
  text-decoration: none;
  color: $grey;
  font-weight: bold;
  padding: $padding-small;
  box-shadow: 5px 5px 5px rgb(229, 233, 246, 1);
  border-radius: 7px;
  font-size: $font-size-18;
  position: fixed;
  margin-top: -50px;
  margin-left: 10px;
}
.services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: $font-size-36;
  text-align: center;
  line-height: 56px;
}
div.rectangle {
  height: 2px;
  width: 56px;
  background-color: $black;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 33px;
}
.description-services {
  color: $grey;
  font-size: $font-size-18;
  text-align: center;
}

.container-services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px;
  width: 100%;

  .box {
    background-color: $white;
    align-content: center;
    box-shadow: 10px 40px 50px rgb(229, 233, 246, 0.4);
    width: 350px;
    height: 365px;
    border-radius: 20px;
    padding: 47px 44px;
    cursor: pointer;

    .paragraph-name {
      font-weight: bold;
      font-size: $font-size-24;
      line-height: 56px;
    }
    .p-services {
      font-size: $font-size-16;
      color: $grey;
      line-height: 28px;
    }
  }
}
.box:hover {
  box-shadow: 5px 4px 50px rgb(174, 177, 185);
}
.back:hover {
  box-shadow: 5px 4px 50px rgb(174, 177, 185);
}
.button-services {
  border: 2px solid $blue;
  background-color: $white;
  color: $blue;
  font-size: $font-size-18;
  font-weight: bold;
  border-radius: 55px;
  width: 200px;
  line-height: 56px;
  display: block;
  margin: 72px auto;
  text-align: center;
  cursor: pointer;
}
.button-services:hover {
  background-color: $blue;
  color: $white;
}

.section-about {
  display: flex;
}