$xxl: 2000px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 480px;

$padding-header: 56px;
$padding-big: 24px;
$padding-medium: 16px;
$padding-small: 8px;

$margin-home: 56px 12%;

$black: #000000;
$violet: #1f1534;
$blue: #458ff6;
$grey: #7d7987;
$white: #ffffff;

$font-size-48: 48px;
$font-size-36: 36px;
$font-size-24: 24px;
$font-size-22: 22px;
$font-size-21: 21px;
$font-size-20: 20px;
$font-size-19: 19px;
$font-size-18: 18px;
$font-size-17: 17px;
$font-size-16: 16px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

header {
  display: flex;
  justify-content:space-between;
  // flex-wrap: wrap;
  // padding: 0 $padding-header 0 $padding-header;
  margin: $margin-home;
  // width: $xxl;
  // background-color: skyblue;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  column-gap: 40px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-top: 14px;
}

.nav-elements {
  list-style: none;
  text-decoration: none;
  margin: 0;
  font-size: $font-size-18;
  opacity: 50%;
  color: $violet;

  &:hover {
    opacity: 100%;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: $violet;
  }
}

.home {
  display: flex;
  justify-content: space-evenly;
  // align-content: center;
  // flex-wrap: wrap;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 445px;
  max-height: 338px;
}

.name {
  font-size: 48px;
  line-height: 56px;
}

.description {
  font-size: 21px;
  font-weight: lighter;
  color: #7d7987;
  line-height: 32px;
}

.home-image {
}

.home-button {
  background-color: #458ff6;
  color: white;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  line-height: 60px;
}

.element {
  position: fixed;
  margin-top: 160px;
}
