$xxl: 2000px;
$xl: 1220px;
$lg: 992px;
$md: 768px;
$sm: 480px;

$padding-header: 56px;
$padding-big: 24px;
$padding-medium: 14px;
$padding-small: 8px;

$margin-home: 56px 12%;

$black: #000000;
$violet: #1f1534;
$blue: #458ff6;
$grey: #7d7987;
$white: #ffffff;

$font-size-48: 48px;
$font-size-36: 36px;
$font-size-24: 24px;
$font-size-22: 22px;
$font-size-21: 21px;
$font-size-20: 20px;
$font-size-19: 19px;
$font-size-18: 18px;
$font-size-17: 17px;
$font-size-16: 16px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin: $margin-home;
}
.element {
  position: fixed;
  margin-top: 80px;
}

/// HAMBURGER start///

.nav-plus-mob-icon {
  display: flex;
}

.nav-container {
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-plus-mob-icon .hamburger {
  cursor: pointer;
  height: 24px;
  display: block;
  div {
    display: block;
    position: relative;
    height: 4px;
    width: 35px;
    border-radius: 5px;
    background-color: $blue;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 4px;
      width: 35px;
      border-radius: 5px;
      background-color: $blue;
    }
    &::after {
      bottom: -10px;
    }
    &::before {
      bottom: -20px;
    }
  }
  @media (min-width: $sm) {
    display: none;
  }
}

.nav-container {
  @media (min-width: $sm) {
    display: flex;
  }
}

header > nav.nav-container-mobile {
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  border-radius: 15px;
  background-color: $white;
  box-shadow: 10px 40px 50px rgb(229, 233, 246, 0.4);
  right: -400px;
  transition: all 0.4s;
}

#mob-menu {
  display: none;
  &:checked {
    & + nav {
      right: 0;
    }
  }
}

.close {
  cursor: pointer;
  color: $blue;
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  user-select: none;
}

/// HAMBURGER end///

.nav-elements {
  list-style: none;
  text-decoration: none;
  margin: 0;
  font-size: $font-size-18;
  opacity: 50%;
  color: $violet;
  padding: $padding-medium $padding-medium 0 $padding-medium;
  &:hover {
    opacity: 100%;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: $violet;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .home-left {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-width: 445px;
    max-height: 338px;
    margin: 0 30px;
    .name {
      font-size: $font-size-48;
      line-height: 56px;
    }
    .description {
      font-size: $font-size-21;
      font-weight: lighter;
      color: $grey;
      line-height: 32px;
      margin-top: 25px;
      margin-bottom: 45px;
    }
    .home-button {
      background-color: $blue;
      color: $white;
      width: 200px;
      border-radius: 55px;
      font-size: $font-size-18;
      font-weight: bold;
      border: none;
      line-height: 60px;
      cursor: pointer;
    }
    .home-button:hover {
      background-color: $white;
      color: $blue;
      border: 2px solid $blue;
    }
  }
  .home-image {
    max-width: 693px;
    margin: 0 30px;
    z-index: -1;
  }
}
.home-image {
  @media (max-width: $sm) {
    max-width: 393px;
    opacity: 70%;
  }
}

.services-body {
  background-image: url("./assets/big_element.svg"),
    url("./assets/element-services.svg");
  background-position: -145px 30px, 95% 51%;
  background-repeat: no-repeat;
  width: 100%;
}
.services-section {
  height: 100vh;
  margin-top: 60px;
}
.back {
  text-decoration: none;
  color: $grey;
  font-weight: bold;
  padding: $padding-small;
  box-shadow: 5px 5px 5px rgb(229, 233, 246, 1);
  border-radius: 7px;
  font-size: $font-size-18;
  position: fixed;
  margin-top: -50px;
  margin-left: 10px;
}
.services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: $font-size-36;
  text-align: center;
  line-height: 56px;
}
div.rectangle {
  height: 2px;
  width: 56px;
  background-color: $black;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 33px;
}
.description-services {
  color: $grey;
  font-size: $font-size-18;
  text-align: center;
  margin: 0 30px 50px 30px;
}

.container-services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px;
  width: 100%;

  .box {
    background-color: $white;
    align-content: center;
    box-shadow: 10px 40px 50px rgb(229, 233, 246, 0.4);
    width: 350px;
    height: 365px;
    border-radius: 20px;
    padding: 47px 44px;
    cursor: pointer;

    .paragraph-name {
      font-weight: bold;
      font-size: $font-size-24;
      line-height: 56px;
    }
    .p-services {
      font-size: $font-size-16;
      color: $grey;
      line-height: 28px;
    }
  }
}
.box:hover {
  box-shadow: 5px 4px 50px rgb(174, 177, 185);
}
.back:hover {
  box-shadow: 5px 4px 50px rgb(174, 177, 185);
}
.button-services {
  border: 2px solid $blue;
  background-color: $white;
  color: $blue;
  font-size: $font-size-18;
  font-weight: bold;
  border-radius: 55px;
  width: 200px;
  line-height: 56px;
  display: block;
  margin: 72px auto;
  text-align: center;
  cursor: pointer;
}
.button-services:hover {
  background-color: $blue;
  color: $white;
}

.about-body {
  width: 100%;
  .back {
    margin-top: 10px;
  }
}

.section-about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-content: center;
  width: 100%;
}

.about-header {
  font-size: $font-size-36;
  text-align: left;
  line-height: 56px;
}

.about-paragraph {
  font-size: $font-size-18;
  color: $grey;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 37px;
  font-weight: 300;
}

.about-right-side {
  width: 410px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 80px 80px 0 80px;
  z-index: 1;
  .button-services {
    margin: 0;
  }
}

.about-image {
  width: 650px;
  height: 477px;
  z-index: -1;
}

.apps-body {
  position: relative;
  .back {
    margin-top: 10px;
  }
}

.apps-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  height: 100vh;
}

.apps-left-side {
  width: 365px;
  height: 420px;
  margin-right: 50px;
  margin-top: 80px;
  .button-services {
    margin: 0;
  }
}

.apps-header {
  font-size: $font-size-36;
  text-align: left;
}

.apps-image {
  width: 665px;
  height: 434px;
}

.apps-element {
  position: absolute;
  top: 0px;
  right: 0;
}

.testimonials-body {
  .back {
    margin-top: 10px;
    z-index: 3;
  }
}
.testimonials-big-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
  z-index: 1;
}

.testimonials-section {
  position: relative;
  background-image: url("./assets/rectangle13.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 425px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1120px;
  margin: 0 auto;
  color: $white;
  text-align: center;

  @media (max-width: $xl) {
    min-height: 1025px;
  }

  .testimonials-element {
    position: absolute;
    top: -5%;
    right: -5%;
    z-index: 2;
    pointer-events: none;
  }

  .testimonials-element2 {
    position: absolute;
    top: 60%;
    left: -4%;
    z-index: -1;
    pointer-events: none;
  }

  .rectangle-white {
    width: 56px;
    height: 3px;
    border-radius: 6px;
    margin-top: 26px;
    margin-bottom: 70px;
  }
}

.testimonials-bottom-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.testimonials-left-side {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 33px;
  flex-wrap: wrap;
  p {
    text-align: left;
    span {
      font-size: $font-size-18;
      opacity: 85%;
      font-weight: 250;
    }
  }
}

.testimonials-edward-newgate {
  width: 141px;
  height: 141px;
}

.testimonials-paragraph {
  width: 400px;
  height: 120px;
  text-align: left;
  font-size: $font-size-19;
  line-height: 30px;
  opacity: 90%;
  font-weight: 250;
}

.testimonials-name {
  font-size: $font-size-22;
  line-height: 30px;
}

.testimonials-arrow-image {
  height: 20px;
  cursor: pointer;
}

.articles-main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: 70px;
  .article-element {
    position: absolute;
    top: 10%;
    left: 12%;
    z-index: -1;
  }
  .article-background {
    position: absolute;
    top: -5%;
    right: 0;
    z-index: -1;
  }
}

.article-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.article-h2 {
  margin: 0 30px;
}

.article-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  width: 350px;
  height: 512px;
  margin: 17px;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 10px 40px 50px rgb(229, 233, 246, 0.4);
  cursor: pointer;

  &:hover {
    box-shadow: 5px 4px 50px rgb(174, 177, 185);
  }

  .article-img {
    border-radius: 20px 20px 0 0;
  }
  .article-h3 {
    margin: 20px 50px 20px 30px;
    font-size: $font-size-21;
    line-height: 32px;
  }
  .article-paragraph {
    margin: 0 66px 20px 30px;
    font-size: $font-size-16;
    line-height: 28px;
    font-weight: 250;
    color: $grey;
  }
  a {
    margin: 10px 0 0 30px;
    text-decoration: none;
    color: $blue;
    font-size: $font-size-17;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      font-weight: 700;
      font-size: $font-size-19;
    }
  }
}

footer {
  background-image: url("./assets/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  min-height: 432px;
  margin-top: 70px;
  position: relative;
  color: $white;
  font-size: $font-size-18;
  line-height: 38px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .footer-element1 {
    position: absolute;
    top: -16%;
    right: 10%;
    z-index: -1;
  }
  .footer-element2 {
    position: absolute;
    top: 77%;
    left: 0%;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    margin: 0 50px;
  }

  .footer-box {
    @media (max-width: $xl) {
      margin-top: 60px;
    }
  }

  .footer-box-main {
    position: relative;
    width: 385px;
    .footer-elipse {
      position: absolute;
      top: 25%;
      left: 0%;
      @media (max-width: $xl) {
        top: 2%;
        left: 0%;
      }
    }
    .footer-T {
      position: absolute;
      z-index: 2;
      top: 28%;
      left: 3.5%;
      @media (max-width: $xl) {
        top: 7%;
        left: 3.3%;
      }
    }
    .footer-logo {
      font-size: 24px;
    }
    .footer-logo-main-paragraph {
      font-size: $font-size-18;
      font-weight: 200;
      line-height: 28px;
      margin: 22px 0 31px 0;
    }
    .footer-logo-small-paragraph {
      font-size: $font-size-16;
      font-weight: 200;
    }
  }
}

.footer-box-header {
  font-size: $font-size-20;
  line-height: 60px;
}
.footer-box-object {
  font-size: $font-size-18;
  font-weight: 200;
  line-height: 40px;
  cursor: pointer;

  &:hover {
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: $white;
  }
}
